<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MTP.Properties.Settings>
            <setting name="adbPath" serializeAs="String">
                <value>adb.exe</value>
            </setting>
            <setting name="devicechose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showhidefile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="computerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="typeenable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path1" serializeAs="String">
                <value>storage/emulated/0</value>
            </setting>
            <setting name="PathName1" serializeAs="String">
                <value>快捷链接1</value>
            </setting>
        </MTP.Properties.Settings>
    </userSettings>
</configuration>